@{
    ViewData["Title"] = "Calculator";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Calculator</title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Fill out the form below to get an estimate</h2>
    <br />
    <form id="hourlyRateForm">
        <label for="hours">Enter the number of hours you need:</label>
        <input type="number" id="hours" min="0" step="any" required>
        <br />
        <br />
        <label>Charge per hour:</label>
        <input type="text" id="chargePerHour" value="$80" readonly>
        <br />
        <br />
        <button type="button" onclick="calculateTotal()">Calculate Total</button>

        <label for="total">Total:</label>
        <input type="text" id="total" readonly>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </form>

    <!--A box for the user to enter the number of hours they need
    validation to make sure that they entered a positive number
    a non editable box that shows how much you charge per hour
    a button that allows them to calculate the total
    an output box with the total (make sure it clears before runnign again)
    nav back to the home page-->

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/site.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
 

