 @{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--<link href="css/site.css" rel="stylesheet" />-->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>A little about me</title>
</head>
<body>
    <h2>Singing: A Hobby and Career</h2>

    <img src="Vocal-music-sheet.jpg" height="100" />
    <br />
    <p> Ever since I was a young girl I loved music. I loved to listen, dance, and most importantly sing. It didn't matter where I was, or who I was with, I always wanted to sing. I sang in choirs, in the car, in the shower, and all around the house. </p>
    <p> This love for music has not dwindled, today I sing all types of music from disney, pop, latin, indie to opera. For many years I took professional voice lessons where I specialized in Classical Vocal Performance. I sang in Italian, Spanish, and English. I would love to share some of what I learned with you! </p>
    <p>Then I cam to BYU where I auditioned for an was privileged to sing in the BYU Women's Chorus'</p>
    <img src="BYUpic.png" height="150" />
    <p>My years of experience along with my passion for singing qualify me to be a wonderful voice instructor. I offer voice lessons upon private demand. See my other page for more details! Can't wait to sing with you.'</p>
    <h2>Use the Calculator to get a cost estimate</h2>
    <br />
    <br />
    <br />
    <script src="js/site.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
